.page {
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
    background-color: beige;
}

.h2{
    color: #0d6efd;

}

<<<<<<< HEAD
=======
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
}
>>>>>>> develop
